NODE_ENV=development
#TZ="YOUR_DESIRED_TIME_ZONE"

APP_PORT=3002
APP_DOMAIN=localhost
APP_PROTOCOL=http

APP_PREVIEW=false
APP_PREVIEW_URL=clip.ngrok.io

# MYSQL CONFIG
# leave commented if using sqlite.

#DATABASE_CLIENT=mysql
#DATABASE_HOST=app-db-do-user-4799843-0.db.ondigitalocean.com
#DATABASE_USER=doadmin
#DATABASE_PORT=25060
#DATABASE_PASSWORD=pf9wwz8apbbq04a7
#DATABASE_NAME=defaultdb


VUE_APP_SERVER_URL="${APP_PROTOCOL}://${APP_DOMAIN}:${APP_PORT}"
