@import "bulma-helpers";
@import "~@sweetalert2/themes/dark/dark.min.css";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: fade_out($black, 0.5);
  border-radius: 2px
}

::-webkit-scrollbar-thumb:hover {
  background-color: fade_out($dark, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background-color: lighten($dark, 3%);
}


input {
  background-color: $black-ter !important;
  border: $grey-darker 1px solid !important;
  color: $white !important;

  &::placeholder {
    color: $grey !important;
  }
}
